.array-container {
    /* position: absolute; */
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    height:auto;
    width:-webkit-fill-available;
    /* top: 100px; */
  }
  
  .array-bar {
    display: inline-block;
  }
  .array-bar1 {
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
  }
  .array-bar2 {
    
    display: inline-block;
  }
  .array-bar3 {
    
    display: inline-block;
  }
  .array-bar4 {
    
    display: inline-block;
  }
  button{
    background: none;
    color: white;
    border-radius: 5px !important;
    padding: 10px;
    margin: 5px !important;
    opacity:0.8;
    border-color: black;
  }
  button:hover{
    background-color: blue;
    color:black;
    transform: scale(1.1);
    opacity:1;
  }