.array-container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    height: 630px;
    margin: 10px;
}

.inner-container{
    height: 700px;
    align-self: center;
    align-items: flex-end;
    flex: 1 0 100%;
    margin-top: 10px;
    display: flex;
}

.array-bar{
    width: 20px;
    display: inline-block;
    background-color: #93C2DB;
    margin: 10px 10px;
}

.Buttons{
    align-self: center;
}

.Buttons Button{
    font-weight: 700;
    width: max-content;
    height: 50px;
    margin: 2px 20px 2px 2px;
}
