/* *{
    margin: 0px;
    padding: 0px;
} */
.array-container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    /* height: 630px; */
    height: max-content;
    /* background-color: aqua; */
    /* margin: 10px; */
    margin-bottom: 20px;
}

/* .inner-container{
    height: 700px;
    align-self: center;
    align-items: flex-end;
    flex: 1 0 100%;
    margin-top: 10px;
    display: flex;
} */

.inner-container{
    justify-content: baseline;
    width: 100%;
    min-height: 450px;
    height: 700px;
    align-self: center;
    align-items: flex-end;
    flex: 1 0 100%;
    /* margin-top: 10px; */
    display: flex;
}

/* .array-bar{
    width: 20px;
    display: inline-block;
    background-color: #93C2DB;
    margin: 10px 10px;
} */
.array-bar{
    width: 10%;
    min-width: 1px;
    display: inline-block;
    background-color: #93C2DB;
    /* margin-right: 7px; */
    margin-right: 1%;
}

.Buttons{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
}

.Buttons Button{
    font-weight: 700;
    width: max-content;
    height: max-content;
    margin: 2px 20px 2px 2px;
}
